

.ItemHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px
}

.Info {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

.ItemImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}