.ContactContainer{
    margin-top: 20px;
}

.Head {
    font-size: 1.75rem;
}

.ContactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LabelContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 14px;
}

.InputContact {
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 85vw;
    height: 20px;
    margin-top: 10px;
    padding: 8px 5px;
    background: transparent;
    outline: none;
}

.InputContact:-webkit-autofill,
.InputContact:-webkit-autofill:hover, 
.InputContact:-webkit-autofill:focus, 
.InputContact:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.Button {
    margin-top: 30px;
}